In [1]:
%config Completer.use_jedi = False

import pandas as pd
from sqlalchemy import create_engine
from config import *

ModuleNotFoundError: No module named 'config'

In [2]:
quality_countries_file = "quality_index_countries.csv"
quality_df = pd.read_csv(quality_countries_file)
quality_df.head()

,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,Denmark,192.67,100.88,74.90,80.00,83.00,7.45,28.85,21.33,81.80
1,Switzerland,192.01,119.53,78.40,72.44,122.40,8.68,29.09,22.39,79.24
2,Finland,190.22,99.93,76.68,75.79,70.29,8.35,29.90,11.55,58.87
3,Australia,186.21,107.31,58.64,77.38,73.54,7.52,34.73,23.46,92.70
4,Netherlands,183.67,90.73,72.38,74.65,73.75,7.51,29.43,27.41,87.61

In [3]:
cost_living_file = "cost_of_living_index.csv"
cost_living_df = pd.read_csv(cost_living_file)
cost_living_df.head()

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Switzerland,122.40,50.25,87.89,120.27,123.01,119.53
1,Norway,101.43,36.15,70.21,91.14,109.28,88.38
2,Iceland,100.48,46.95,74.88,86.89,113.74,79.44
3,Japan,83.35,25.97,55.90,81.82,48.95,87.28
4,Denmark,83.00,31.92,58.57,61.74,100.75,100.88

In [4]:
properties_countries_file = "properties_index_countries.csv"
properties_df = pd.read_csv(properties_countries_file)
properties_df.head()

,Country,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index
0,Venezuela,133.29,6.22,6.45,16.08,15.49,3025.03,0.03
1,Syria,60.83,2.71,3.00,36.93,33.29,662.83,0.15
2,Hong Kong,47.46,1.77,1.83,56.45,54.74,303.35,0.33
3,Cambodia,42.33,4.78,6.20,20.93,16.13,479.45,0.21
4,Kenya,31.63,2.15,4.07,46.56,24.54,472.19,0.21

In [9]:
##TRansform Quality Countries Index table

#quality_countries_file = "quality_index_countries.csv"
#quality_df = pd.read_csv(quality_countries_file)
#quality_df.head()



quality_cols = ["Country", "Quality of Life Index","Purchasing Power Index","Cost of Living Index", "Safety Index", "Health Care Index"
                , "Pollution Index"]
quality_transformed = quality_df[quality_cols].copy()

#Rename the column headers
quality_transformed = quality_transformed.rename(columns={"Country":"country", "Quality of Life Index":"quality_life_idx","Purchasing Power Index":"purchase_power_idx", "Safety Index":"safety_idx", "Health Care Index":"health_care_idx", 
                "Cost of Living Index": "cost_living_idx", "Pollution Index":"pollution_idx"})


#Set country as index
quality_transformed.set_index("country",inplace=True)

quality_transformed.head()

,quality_life_idx,purchase_power_idx,cost_living_idx,safety_idx,health_care_idx,pollution_idx
country,,,,,,
Denmark,192.67,100.88,83.00,74.90,80.00,21.33
Switzerland,192.01,119.53,122.40,78.40,72.44,22.39
Finland,190.22,99.93,70.29,76.68,75.79,11.55
Australia,186.21,107.31,73.54,58.64,77.38,23.46
Netherlands,183.67,90.73,73.75,72.38,74.65,27.41

In [ ]:
()